@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Press+Start+2P&family=Public+Sans:wght@300&display=swap");

html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    text-align: center
}

html,
body {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', 'cursive';
}

body {
    background: black;
    background-image: url(./assets/images/futuristic\ background.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
    color: white;
    text-shadow: 5px 3px rgb(87, 8, 81);
    font-size: 1rem;
}

header {
    height: 10%;
    background-color: transparent, rgba(46, 61, 73, 0.9);
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#title {
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* aside {
    background-color: rgba(141, 65, 228, 0.7);
    border-radius: 7px;
    display: inline-block;
    margin: 10% 2%;
} */

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 89%;
    width: 100%;
}

.deck {
    width: 47.5%;
    height: 95%;
    margin-left: 5%;
    margin-right: 5%;
    background: #716F71;
    background-image: url(./assets/gifs/sikcing-gif.gif);
    background-position: center;
    background-size: cover;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 70px 10px rgb(255, 255, 255, 0.9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.deck .card .back {
    height: 100%;
    width: 100%;
    background: #141214;
    font-size: 0;
    color: #ffffff;
    background-image: url(./assets/images/justiceLeague-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 0 rgba(46, 61, 73, 0.5);
}

.card {
    border: 1px solid transparent
}

.card:hover {
    border: 1px solid rgba(255, 35, 244, 0.7);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24%;
    width: 24%;
    border-radius: 5px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 0;
    position: absolute;
    background-position: top;
}

.back {
    backface-visibility: hidden;
}

.isFlipped {
    transform: rotateY(180deg);
}

.panel {
    height: 96.5%;
    width: 15%;
    border: white solid 3px;
    box-shadow: 25px 25px 25px 0 rgba(255, 35, 244, 0.7);
    background-color: rgba(168, 122, 170, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    text-shadow: 3px 2px white;
    font-size: 2vh;
}

/* left panel */
.left {
    justify-content: center;
}

.attempts, .best-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.attempts-count, .best-score-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.babyGroot {
    height: 20%;
    margin-top: 25%;
    margin-bottom: 25%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/gifs/groot-gif.gif);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* right panel */
.right {
    justify-content: center;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    margin-top: 5%;
    cursor: pointer;
}

.restart:hover {
    text-shadow: 5px 3px rgba(255, 35, 244, 0.7);;
}

.containsResult {
    height: 3em;
}

.display {
    display: flex;
    height: 100%;
    width: 10%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.cardhover {
    display: none;
}

#popup-shadow, #popup-shadow-restart {
    height: 90vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: rgba(#716F71, 0.5);
    display: flex;
    justify-content: center;
    font-size: 3vh
}

#popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    height: 70%;
    width: 60%;
    color: white;
    background-color: rgba(46, 61, 73, 0.9);
    background-position: center;
    background-size: contain;
    padding-top: 5%;
    margin: auto;
    border: solid 3px white;
    transition: all 200ms;
}

#popup-restart {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    height: 30%;
    width: 40%;
    color: white;
    background-color: rgba(46, 61, 73, 0.9);
    background-position: center;
    background-size: contain;
    padding-top: 5%;
    margin: auto;
    border: solid 3px white;
    transition: all 200ms;
}

.restart-prompt {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}

.restart-prompt span:hover {
    cursor: pointer;
    text-shadow: 5px 3px rgba(255, 35, 244, 0.7);
}

.modal-score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
}

.game-summary {
    list-style-type:none;
}

.game-summary li {
    margin-bottom: 2%;
}

.hide {
    visibility: hidden;
    /* display: none; */
    transform: scale(0);
    transition: all 0.5s;

}

.next-round-button {
    font-size: 3vh;
    transition: transform .2s;
}

.next-round-button:hover {
    cursor: pointer;
    text-shadow: 5px 3px rgba(255, 35, 244, 0.7);
}

#popup .close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: fantasy;
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    transition: transform .2s;
}

#popup .close:hover {
    transform: scale(1.25);
}

#play-button-shadow {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: rgba(160, 149, 200, 0.2);
}

#play-button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 96%;
    width: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    background: rgba(15, 5, 49, 0.8);
}

.play-button {
    z-index: 3;
    cursor: pointer;
    height: 5rem;
    width: 8rem;
    border: white solid 5px;
    border-radius: 50px;
    background-color: #000000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
}

.play-button:hover {
    transform: scale(1.25);
}

.play-button span {
    display: flex;
}

#preview-button-container {
    height: 40%;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}

#play-button-container p {
    font-size: 1.5rem;
    margin-block-start: 0.1rem;
    margin-block-end: 0.5rem;
    line-height: 1.7em;
}

#game-preview {
    display: inline-block;
    height: 100%;
}

h4 {
    margin-block-start: 2.5%;
    margin-block-end: 2%;
}

#victory-modal {
    position: absolute;
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    bottom: 0;
    right: 0;
}

.modal-score-title {
    margin-bottom: 5%;
}

@media only screen and (orientation:portrait) {
    #title {
        font-size: 2.5vh;
    }

    /* aside {
        background-color: rgba(141, 65, 228, 0.7);
        border-radius: 7px;
        display: inline-block;
    } */

    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 89%;
        width: 100%;
    }

    .panel {
        height: 10%;
        width: 98%;
        font-size: 1.9vh;
    }

    .attempts, .best-score {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .attempts-count, .best-score-count {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .babyGroot {
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #countdown {
        margin-top: 0;
        margin-bottom: 0;
    }

    .restart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: center;
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-top: 0;
    }

    .containsResult {
        display: none;
    }

    .deck {
        width: 96%;
        height: 95%;
        background: #716F71;
        background-image: url(./assets/gifs/sikcing-gif.gif);
        background-position: center;
        background-size: cover;
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0px 0px 70px 10px rgb(255, 255, 255, 0.9);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    #game-preview {
        display: inline-block;
        width: 100%;
    }

    .play-button {
        margin-top: 5%;
    }

    .display {
        display: flex;
        height: 100%;
        width: 20%;
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #popup {
        padding-top: 0;
        width: 95%;
    }

    #popup-restart {
        padding-top: 5%;
        width:90%;
        height: 25%;
    }

    #popup .close {
        position: relative;
        top: 0;
        right: 0;
        height: 10%;
        width: 98%;
        text-align: right;
    }

    #victory-modal {
        height: 15%;
    }

    #play-button-container {
        height: 98%;
    }
}

@media only screen and (max-width: 420px) and (min-width: 370px) {
    #title {
        font-size: 2vh;
    }

}